.about {
    position: relative;
}

.about-img {
    width: 100%;
}

.about-txt {
    margin-top: 11%;
    margin-left: 2.5%;
    margin-bottom: 0.05%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 92px;
}

.about-txt-body {
    margin-top: 1%;
    margin-left: 2.5%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 42px;
}

.about-block {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

