.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: black;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
}

.horizontal-line{ 
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #F0F0F0;
}

.copyright {
    text-align: center;
    font-weight: 350;
    font-size: small;
}

.row {
    display: flex;
    margin-left: 3%;
}

.col {
    float: left;
    width: 25%;
    list-style: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.payment-img {
    height: 50%;
    aspect-ratio: 1;
}