.nav {
    position: fixed;
    width: 100%;
    background: rgb(37, 12, 12);
    height: 56px;
}

.nav_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.nav_logo a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 1000;
    font-family: fantasy;
}

.space {
    flex: 0.45;
}

.nav_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_navigation-items li {
    padding: 1rem;
    font-family: Arial Narrow;
    display: block;
}

.nav_navigation-items a {
    background-color: rgb(37, 12, 12);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.5s;
    display: block;
}

.nav_navigation-items a:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(153, 133, 133, 0.4);
}